main{
    background-color: #edf2f4;
}
.img-logo{
    width: 20%;
}
.colorbg{
    background-color: #2b2d42;
}
.colorbhcheck{
    background-color: #2b2d42;
    color: white;
}
.img-slider{
    height: 200px;
}

.styles-cards{
    margin-top: 5%;
}

.stile.h5{
    display: flex;
    align-items: baseline;
}

.stile-card{
    margin: 3%;
}

.footer-stile{
    width: 50%;
}

.formulario-stile{
    margin-top: 10%;
    margin-bottom: 10%;
}

.boton-stile{
    margin-top: 10%;
}

.card-img-top{
    height: 13rem;
    object-fit: cover;
}

.form-search{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}