
.img-logo{
    width: 30%;
}

.img-slider{
    height: 200px;
}

.styles-cards{
    margin-top: 5%;
}

.stile.h5{
    display: flex;
    align-items: baseline;
}

.stile-card{
    margin: 3%;
}

.footer-stile{
    margin: 1%;
    width: 50%;
}

.formulario-stile{
    margin-top: 10%;
    margin-bottom: 10%;
}

.boton-stile{
    margin-top: 10%;
}